{{ define "main" }}
<h1>{{ .Title }}</h1>

<!-- Lista de entradas por año y por mes -->
{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
<!-- Años -->
{{ range $pages.GroupByPublishDate "2006" }}
    <div class="archive-year">
        <h2>{{ .Key }} <small>({{ len .Pages }})</small></h2>
        <!-- Meses -->
        {{ range .Pages }}
            <div style="margin-left: 2em;">
                <a href="{{ .RelPermalink }}" style="font-size: 150%; margin-bottom: 0px; color: var(--fg); text-decoration: none">{{ .Title }}</a>
                <p style="margin-top: 4px" class="data">{{ .Date | time.Format ":date_long" }} • {{ .ReadingTime }} min • {{ partial "tags.html" (dict "taxonomy" "tags" "page" .) }}</p>
            </div>
        {{ end }}
    </div>
{{ end }}
{{ end }}
